* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, rgb(255, 124, 146), blue);
  padding: 10px;
}
.todo-app {
  width: 100%;
  max-width: 540px;
  background-color: #fff;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
}
.todo-app h2 {
  color: #002765;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
h2 i svg {
  width: 30px;
  margin-left: 10px;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}
input {
  flex: 1;
  border: none;
  background: transparent;
  outline: none;
  padding: 10px;
  font-weight: 14px;
  font-size: 1rem;
}
button {
  /* height: 40px; */
  /* width:90px; */
  padding: 16px 50px;
  border-radius: 40px;
  border: none;
  outline: none;
  background: #ff5945;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

ul li {
  list-style-type: none;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}
ul li::before {
  content: "";
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  border: 2px solid;
  left: 8px;
  top: 9px;
  /* background-image: url(unchecked.png); */
  background-size: cover;
  background-position: center;
}
ul li.checked {
  color: #555;
  text-decoration: line-through;
}
ul li.checked::before {
  background-image: url(checked.png);
}
ul li span {
  position: absolute;
  right: 0px;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #555;
  line-height: 40px;
  /* border: 1px solid; */
  border-radius: 50%;
  text-align: center;
  /* padding-top: 5px; */
}
ul li span:hover {
  background-color: #edeef0;
}
